{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block mycontent %}
    <div class="jumbotron">
        <div class="row">
            {%- if user.avatar_url() -%}
                <div class="col-md-3 animated bounceIn">
                    {%- if current_user.id == user.id or current_user.can(Permission.UPDATE_OTHERS_INFORMATION) -%}
                        <a href="{{ url_for('user.avatar',user_id=user.id) }}" data-toggle="tooltip"
                           data-placement="bottom" title="Click to modify avatar">
                            <div class="avatar avatar-large"
                                 style="background-image: url({{ user.avatar_url() }})"></div>
                        </a>
                    {%- else -%}
                        <div class="avatar avatar-large"
                             style="background-image: url({{ user.avatar_url() }})"></div>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="col-md-6 col-md-offset-1 animated fadeIn">
                <h1 class="page-header">{{ user.name }}
                    {% if user.headline %}
                        <small>{{ user.headline }}</small>
                    {% endif %}

                </h1>

                <p>Email: {{ user.email }}</p>
                {% if user.major %}
                    <p>Major: {{ user.major }}</p>
                {% endif %}
                <p>Join date: {{ user.member_since.strftime('%d %B %Y - %H:%M:%S') }}</p>
                {% if current_user.id==user.id or current_user.can(Permission.UPDATE_OTHERS_INFORMATION) %}
                    <a class="btn btn-info" href="{{ url_for('user.edit',user_id=user.id) }}">Edit information</a>
                {% endif %}
                {% if current_user.id==user.id %}
                    <a class="btn btn-danger" href="{{ url_for('auth.change_password',user_id=user.id) }}">
                        Change password</a>
                {% endif %}

            </div>
        </div>


        {% if user.about_me_html %}
            <h2>
                <small>Personal profile</small>
            </h2>
            {{ user.about_me_html|safe }}
        {% elif user.about_me %}
            <p>{{ user.about_me }}</p>
        {% endif %}


    </div>

    <div class="well well-lg" id="log">
        <ul class="nav nav-tabs" role="tablist">
            {% if request.args.get('show',0)!='1' %}
                <li role="presentation" class="active"><a href="#log" role="tab">Current borrowing record</a></li>
                <li role="presentation"><a href="{{ url_for('user.detail',user_id=user.id,show=1,_anchor='log') }}"
                                           role="tab">Historical borrowing records</a>
                </li>
            {% else %}
                <li role="presentation"><a href="{{ url_for('user.detail',user_id=user.id,show=0,_anchor='log') }}"
                                           role="tab">Current borrowing record</a>
                </li>
                <li role="presentation" class="active"><a href="#log" role="tab">Historical borrowing records</a></li>
            {% endif %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content row">
            {% if request.args.get('show',0)!='1' %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Borrow books</th>
                        <th class="hidden-xs">Borrowing date</th>
                        <th class="hidden-xs">Due date</th>
                        {%- if current_user.is_authenticated and current_user.id==user.id -%}
                            <th>Operating</th>
                        {%- endif -%}
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr class="animated fadeIn delay-{{ loop.index0 }}">
                            <td><a href="{{ url_for('book.detail',book_id=log.book.id) }}">{{ log.book.title }}</a>
                                <p class="visible-xs-block">Borrowing date :<span
                                        class="line-wrap">{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</span>
                                </p>
                                <p class="visible-xs-block">Due date :<span
                                        class="line-wrap">{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</span>
                                </p>
                            </td>
                            <td class="hidden-xs">{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                            <td class="hidden-xs">{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                            {%- if current_user.is_authenticated and current_user.id==user.id -%}
                                <td><a class="btn btn-primary"
                                       href="{{ url_for('log.book_return',log_id=log.id,next=request.path) }}">
                                    Return</a></td>
                            {%- endif -%}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Historical borrowing</th>
                        <th class="hidden-xs">Borrowing date</th>
                        <th class="hidden-xs">Return date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr class="animated fadeIn delay-{{ loop.index0 }}">
                            <td><a href="{{ url_for('book.detail',book_id=log.book.id) }}">{{ log.book.title }}</a>
                                <p class="visible-xs-block">
                                    Borrowing date :<span
                                        class="line-wrap">{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</span>
                                </p>
                                <p class="visible-xs-block">
                                    Return date :<span
                                        class="line-wrap">{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</span>
                                </p>
                            </td>
                            <td class="hidden-xs">{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                            <td class="hidden-xs">{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}
        {% if pagination and pagination.pages>1 %}
            <div class="container-fluid text-center">
                {{ render_pagination(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $('[data-toggle="tooltip"]').tooltip()
    </script>
{% endblock %}