{%- extends "base.html" -%}
{%- from "bootstrap/pagination.html" import render_pagination -%}
{%- import "bootstrap/wtf.html" as wtf -%}
{%- block mycontent -%}
<div class="well well-lg">

    <h1 class="page-header animated fadeInLeft">{{ book.title }}
        <br>
        {%- if book.subtitle -%}
        <small>{{ book.subtitle }}</small>
        {%- endif -%}
    </h1>
    <div class="primary-info">
        {%- if book.image -%}
        <img class="img-responsive" src="{{ book.image }}" alt="{{ book.title~' Cover' }}">
        {%- endif -%}
        <ul class="list-group">
            <li class="list-group-item">ISBN: {{ book.isbn }}</li>
            {%- if book.origin_title -%}
            <li class="list-group-item">Original title: {{ book.origin_title }}</li>
            {%- endif -%}
            {%- if book.author -%}
            <li class="list-group-item">Author: {{ book.author }}</li>
            {%- endif -%}
            {%- if book.translator -%}
            <li class="list-group-item">Translator: {{ book.translator }}</li>
            {%- endif -%}
            {%- if book.publisher -%}
            <li class="list-group-item">Publishing house : {{ book.publisher }}</li>
            {%- endif -%}
            {%- if book.pubdate -%}
            <li class="list-group-item">Publication date : {{ book.pubdate }}</li>
            {%- endif -%}
            {%- if book.tags.count() -%}
            <li class="list-group-item">Label:
                {% for tag in book.tags %}
                <a class="tag line-wrap" href="{{ url_for('.tags',search=tag.name) }}">{{ tag.name }} <span
                        class="badge">{{ tag.books.count() }}</span></a>
                {% endfor %}
            </li>
            {%- endif -%}
            {%- if book.pages -%}
            <li class="list-group-item">Number of pages : {{ book.pages }}</li>
            {%- endif -%}
            {%- if book.price -%}
            <li class="list-group-item">Pricing: {{ book.price }}</li>
            {%- endif -%}
            {%- if book.binding -%}
            <li class="list-group-item">Binding: {{ book.binding }}</li>
            {%- endif -%}
            <li class="list-group-item">Collection/Available for borrow: {{ book.numbers }} / {{ book.can_borrow_number()
                }}
            </li>
        </ul>
    </div>
    <br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#summary"
                       aria-expanded="true" aria-controls="collapseOne">
                        Brief introduction

                    </a>
                </h4>
            </div>
            <div id="summary" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    {%- if book.summary_html -%}
                    {{ book.summary_html|safe }}
                    {%- else -%}
                    {{ book.summary }}
                    {%- endif -%}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="catalog">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Table of Contents

                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingTwo">
                <div class="panel-body">
                    {%- if book.catalog_html -%}
                    {{ book.catalog_html|safe }}
                    {%- else -%}
                    {{ book.catalog }}
                    {%- endif -%}
                </div>
            </div>
        </div>

    </div>

    <div class="btn-group">
        {%- if current_user.is_authenticated -%}
        {%- with log=current_user.borrowing(book) -%}
        {%- if log -%}
        <a class="btn btn-primary"
           href="{{ url_for('log.book_return',log_id=log.id,next=request.full_path ) }}">
            Return
        </a>
        {%- else -%}
        <a class="btn btn-success"
           href="{{ url_for('log.book_borrow',book_id=book.id,next=request.full_path) }}"
           {%- if not book.can_borrow() -%}disabled="disabled" {%- endif -%}>
            Borrow
        </a>
        {%- endif -%}
        {%- endwith -%}
        {%- endif -%}
        {%- if current_user.can(Permission.UPDATE_BOOK_INFORMATION) -%}
        <a type="button" class="btn btn-warning" href="{{ url_for('book.edit',book_id=book.id) }}">
            Edit book information
        </a>
        {%- endif -%}

        {%- if book.hidden -%}
        {%- if current_user.is_administrator() -%}
        <a type="button" class="btn btn-info"
           href="{{ url_for('book.put_back',book_id=book.id) }}">Restore books
        </a>
        {%- endif -%}
        {%- else -%}
        {%- if current_user.can(Permission.DELETE_BOOK) -%}
        <a type="button" class="btn btn-danger"
           href="{{ url_for('book.delete',book_id=book.id) }}">Delete book</a>
        {%- endif -%}
        {%- endif -%}
    </div>
</div>
<div class="well well-lg">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="log">
        {%- with tabindex= request.args.get('show') or '0' -%}
        <li role="presentation" {%- if tabindex=='0' -%}class="active" {%- endif -%}><a
                href="{%- if tabindex=='0' -%}#log{%- else -%}{{ url_for('book.detail',book_id=book.id,show=0,_anchor='log') }}{%- endif -%}"
                role="tab">Book review</a></li>
        <li role="presentation" {%- if tabindex=='1' -%}class="active" {%- endif -%}><a
                href="{%- if tabindex=='1' -%}#log{%- else -%}{{ url_for('book.detail',book_id=book.id,show=1,_anchor='log') }}{%- endif -%}"
                role="tab">Current borrowing information</a></li>
        <li role="presentation" {%- if tabindex=='2' -%}class="active" {%- endif -%}><a
                href="{%- if tabindex=='2' -%}#log{%- else -%}{{ url_for('book.detail',book_id=book.id,show=2,_anchor='log') }}{%- endif -%}"
                role="tab">Historical borrowing information</a></li>
        {%- endwith -%}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">

        {%- if (request.args.get('show') or '0')=='0' -%}

        <ul class="list-group">
            {%- if current_user.is_authenticated -%}
            <li class="list-group-item list-group-item">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                                data-target="#myModal">
                            I will evaluate this book
                        </button>
                    </div>
                </div>
            </li>
            {%- endif -%}
            {%- for comment in data -%}
            <li class="list-group-item clearfix">
                <div class="media">
                    {%- if comment.user.avatar_url() -%}
                    <div class="media-left">
                        <a href="{{ url_for('user.detail',user_id=comment.user.id) }}">
                            <div class="media-object avatar avatar-small"
                                 style="background-image: url({{ comment.user.avatar_url() }})"></div>
                        </a>
                    </div>
                    {%- endif -%}
                    <div class="media-body">
                        <p class="media-heading"><a
                                href="{{ url_for('user.detail',user_id=comment.user.id) }}">
                            {{ comment.user.name }}</a>
                            <small>{{ comment.user.headline or "" }}</small>
                        </p>
                        <p class="list-group-item-text">{{ comment.comment }}</p>
                        {%- if comment.create_timestamp==comment.edit_timestamp -%}
                        <h4>
                            <small>
                                Posted on: {{ comment.create_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</small>
                        </h4>
                        {%- else -%}
                        <h4>
                            <small>
                                Edited on : {{ comment.edit_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</small>
                        </h4>
                        {%- endif -%}

                        {%- if comment.user_id == current_user.id or current_user.can(Permission.DELETE_OTHERS_COMMENT)
                        -%}
                        <a class="pull-right btn btn-danger btn-sm"
                           href="{{ url_for('comment.delete',comment_id=comment.id,next=request.url) }}">Delete</a>
                        {%- endif -%}
                    </div>
                </div>
            </li>
            {%- endfor -%}
        </ul>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ current_user.name~' Correct '~book.title~' Book reviews ' }}</h4>
                    </div>
                    <form action="{{ url_for('comment.add',book_id=book.id) }}" method="post" class="form"
                          role="form">
                        {{ form.hidden_tag() }}
                        <div class="modal-body">
                            {{ wtf.form_field(form.comment,placeholder="The length is within 1024 characters)") }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Shut down
                            </button>
                            {{ wtf.form_field(form.submit,button_map={'submit':'success'}) }}
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {%- elif request.args.get('show')=='1' -%}
        {%- if data -%}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>User name</th>
                <th class="hidden-xs">User email</th>
                <th>Borrowing date</th>
                <th>Return date</th>
            </tr>
            </thead>
            <tbody>
            {%- for log in data -%}
            <tr>
                <td>
                    <a href="{{ url_for('user.detail' ,user_id=log.user.id) }}">{{ log.user.name }}</a>
                </td>
                <td class="hidden-xs">{{ log.user.email }}</td>
                </td>
                <td>{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                <td>{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
            </tr>
            {%- endfor -%}
            </tbody>
        </table>
        {%- else -%}
        <div class="container-fluid">No information</div>
        {%- endif -%}
        {%- else -%}
        {%- if data -%}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>User name</th>
                <th class="hidden-xs">User email</th>
                <th>Borrowing date</th>
                <th>Return date</th>
            </tr>
            </thead>
            <tbody>
            {%- for log in data -%}
            <tr>
                <td>
                    <a href="{{ url_for('user.detail' ,user_id=log.user.id) }}">{{ log.user.name }}</a>
                </td>
                <td class="hidden-xs">{{ log.user.email }}</td>
                </td>
                <td>{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                <td>{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
            </tr>
            {%- endfor -%}
            </tbody>
        </table>
        {%- else -%}
        <div class="container-fluid">No information</div>
        {%- endif -%}

        {%- endif -%}
    </div>

    {%- if pagination and pagination.pages > 1 -%}
    <div class="container-fluid text-center">
        {{ render_pagination(pagination,args={'_anchor':'log'}) }}
    </div>
    {%- endif -%}
    {%- endblock -%}
</div>