{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/bootstrap-tokenfield.css') }}" rel="stylesheet"/>
{% endblock %}
{%- block mycontent -%}

    <div class="container-fluid well well-lg">

        <h3>{{ title }}</h3>
        <button id="get_book_from_douban" class="btn btn-primary btn-block">Load book information</button>
        {{ wtf.quick_form(form,button_map={'submit':'success'}) }}
    </div>

{%- endblock -%}
{%- block scripts -%}
    {{ super() }}
    {#    {{ pagedown.include_pagedown() }}#}
    <script src="{{ url_for('static',filename='js/Markdown.Converter.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Markdown.Sanitizer.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-tokenfield.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/get_book_from_douban.js') }}"></script>
    <script>
        $('#tags').tokenfield({
            delimiter: [",", " ", "/"]
        })

    </script>
{%- endblock -%}