{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/bootstrap-tokenfield.css') }}" rel="stylesheet"/>
    <style>
        .tag {
            margin: .5rem 2px;
        }
    </style>
{% endblock %}
{% block mycontent %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form form-horizontal" method="get">
                <div class="input-group  input-group-lg">
                    <span class="input-group-addon">Tags:</span>
                    {{ search_form.search(class_="form-control") }}
                <span class="input-group-btn">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Search">
                </span>
                </div>
            </form>
        </div>
    </div>
    <h1>{{ title }}</h1>

    {% if tags %}
        <div class="container-fluid">
            {% for tag in tags %}
                <a class="tag line-wrap" href="?search={{ tag.name|urlencode }}">{{ tag.name }} <span
                        class="badge">{{ tag.books.count() }}</span></a>
            {% endfor %}
        </div>
    {% endif %}
    {% if search_word %}
        {{ search_word }}
    {% endif %}
    {% if books %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th class="hidden-xs">Author</th>
                <th class="hidden-xs">ISBN</th>
                <th class="hidden-xs">Collection / Available for borrow</th>
                <th class="hidden-xs">Count of loads</th>
                {%- if current_user.is_authenticated -%}
                    <th>Operating</th>
                {%- endif -%}
            </tr>
            </thead>
            <tbody>
            {%- for book in books -%}
                <tr class="{% if book.hidden %}danger{% endif %} animated fadeIn delay-{{ loop.index0 }}">
                    <td><a href="{{ url_for('book.detail',book_id=book.id) }}">{{ book.title }}</a>
                        <p class="visible-xs-block">{{ book.author }}</p>
                        <p class="visible-xs-block">Collection / Alailable for borrow: {{ book.numbers }} / {{ book.can_borrow_number() }}</p>
                        <p class="visible-xs-block">Number of books to be borrowed: {{ book.logs.count() }}</p>
                    </td>
                    <td class="hidden-xs">{{ book.author }}</td>
                    <td class="hidden-xs">{{ book.isbn }}</td>
                    <td class="hidden-xs">{{ book.numbers }} / {{ book.can_borrow_number() }}</td>
                    <td class="hidden-xs">{{ book.logs.count() }}</td>
                    {%- if current_user.is_authenticated -%}
                        <td>
                            {% with borrowing_log=current_user.borrowing(book) %}
                                {%- if borrowing_log -%}
                                    <a class="btn btn-primary"
                                       href="{{ url_for('log.book_return',log_id=borrowing_log.id,next=request.full_path) }}">Return</a>
                                {%- else -%}
                                    <a class="btn btn-success"
                                       href="{{ url_for('log.book_borrow',book_id=book.id,next=request.full_path) }}"
                                            {%- if not book.can_borrow() %} disabled="disabled"{%- endif -%}>Borrow</a>
                                {%- endif -%}
                            {% endwith %}
                            {% if book.hidden %}
                                {%- if current_user.is_administrator() -%}
                                    <a type="button" class="btn btn-info"
                                       href="{{ url_for('book.put_back',book_id=book.id,next=request.full_path) }}">Restore books</a>
                                {%- endif -%}
                            {% else %}
                                {%- if current_user.can(Permission.DELETE_BOOK) -%}
                                    <a type="button" class="btn btn-danger"
                                       href="{{ url_for('book.delete',book_id=book.id,next=request.full_path) }}">Delete book</a>
                                {%- endif -%}
                            {%- endif -%}
                        </td>
                    {%- endif -%}
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    {% endif %}
    {% if pagination and pagination.pages > 1 %}
        <div class="container-fluid text-center">
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
{%- endblock -%}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/bootstrap-tokenfield.min.js') }}"></script>
    <script>
        $('#search').tokenfield({
            delimiter: [",", " ", "/"]
        })

    </script>
{% endblock %}