{% extends "base.html" %}
{% block mycontent %}
    <div class="row animated fadeInDown">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form form-horizontal" method="get" action="{{ url_for('book.index') }}">
                <div class="input-group  input-group-lg">
                    {{ search_form.search(placeholder="Press <return> Search for",class_="form-control") }}
                <span class="input-group-btn">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Search">
                </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped table-hover animated fadeInDown">
        <caption>Popular books Top 5</caption>
        <thead class="hidden-xs">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Collection/Available for borrow</th>
            <th>Number of books to be borrowed</th>
            {% if current_user.is_authenticated %}
                <th>Operating</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                <td><a href="{{ url_for('book.detail',book_id=book.id) }}">{{ book.title }}</a>
                    <p class="visible-xs-block">{{ book.author }}</p>
                    <p class="visible-xs-block">{{ "Collection/Available for borrow: "~ book.numbers }} / {{ book.can_borrow_number() }}</p></td>
                <td class="hidden-xs">{{ book.author }}</td>
                <td class="hidden-xs">{{ book.isbn }}</td>
                <td class="hidden-xs">{{ book.numbers }} / {{ book.can_borrow_number() }}</td>
                <td class="hidden-xs">{{ book.logs.count() }}</td>
                {% if current_user.is_authenticated %}
                    {% with log =current_user.borrowing(book) %}
                        {% if log %}
                            <td><a class="btn btn-primary"
                                   href="{{ url_for('log.book_return',log_id=log.id,next=request.path) }}">Return</a></td>
                        {% else %}
                            <td><a class="btn btn-success"
                                   href="{{ url_for('log.book_borrow',book_id=book.id,next=request.path) }}"
                                   {% if not book.can_borrow() %}disabled="disabled"{% endif %}>
                                Borrow
                            </a></td>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row animated fadeInUp delay">
        <div class="col-md-9">
            <h4>Latest book reviews</h4>
            {% for comment in recently_comments %}
                <li class="list-group-item clearfix animated fadeInLeft delay-{{ loop.index0 }}">
                    <div class="media">
                        {% if comment.user.avatar_url() %}
                            <div class="media-left">
                                <a href="{{ url_for('user.detail',user_id=comment.user.id) }}">
                                    <div class="media-object avatar avatar-mini"
                                         style="background-image: url({{ comment.user.avatar_url() }})"></div>
                                </a>
                            </div>
                        {% endif %}
                        <div class="media-body">
                            <p class="media-heading"><a
                                    href="{{ url_for('user.detail',user_id=comment.user.id) }}">
                                {{ comment.user.name }}</a>
                                <small>{{ comment.user.headline or "" }}</small>
                                {% if comment.create_timestamp==comment.edit_timestamp %}
                                    <span class="pull-right">
                                        <small>
                                            Posted on: {{ comment.create_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</small>
                                    </span>
                                {% else %}
                                    <span class="pull-right">
                                        <small>
                                            Edited on: {{ comment.edit_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</small>
                                    </span>
                                {% endif %}
                            </p>
                            <span class="line-wrap">{{ "Evaluated 「"~comment.book.title~"」 : " }}</span>
                            <span class="line-wrap"><a class="list-group-item-text"
                                                       href="{{ url_for('book.detail',book_id=comment.book_id) }}">{{ comment.comment }}</a></span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </div>
        <div class="col-md-3 animated fadeInUp">
            <table class="table table-striped table-hover">
                <caption>Cloud Reader Top 5</caption>
                <thead>
                <tr>
                    <th>User's name</th>
                    <th>Number of Borrowing</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                        <td><a href="{{ url_for('user.detail',user_id=user.id) }}">{{ user.name }}</a></td>
                        <td>{{ user.logs.count() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}